<?xml version="1.0"?>
<launch>
  <!-- Robot platform -->
  <!-- Relay board -->
  <include file="$(find neo_bringup)/launch/relayboard.launch"/>
  <!--node pkg="cob_relayboard" type="neo_srbdrive" ns="srbdrive" name="srbdrive_node" respawn="false" output="screen"/-->

  <include file="$(find neo_bringup)/launch/platformCtrl.launch"/>

  <!-- Sensors -->
  <!-- Front scanner -->
  <include file="$(find neo_bringup)/launch/sick_s300.launch">
    <arg name="scanner" value="front"/>
  </include>
  <!-- Rear scanner -->
  <include file="$(find neo_bringup)/launch/sick_s300.launch">
    <arg name="scanner" value="back"/>
  </include>
  <!-- Scan unifier -->
  <include file="$(find neo_bringup)/launch/unify_scans.launch"/>

  <!-- Teleoperation -->
  <!-- <include file="$(find neo_teleop)/ros/launch/teleop.launch"/> -->

  <!--tf broadcaster-->
  <!-- needs to run on lh-server, at least until we get issue #11 fixed -->
  <!-- <include file="$(find little_helper_description)/launch/upload_neobotix_base.launch"/> -->
</launch>
