<?xml version="1.0"?>
<launch>
	<!-- parameters -->
	<arg name="scanner" default="s300" />
	<rosparam command="load" ns="laser_$(arg scanner)" file="$(find neo_bringup)/config/sick_$(arg scanner).yaml"/>
	<!-- start nodes -->
	<node pkg="cob_sick_s300" type="cob_sick_s300" ns="laser_$(arg scanner)" name="laser_$(arg scanner)" respawn="false" output="screen" >
		<remap from="scan" to="scan_unfiltered"/>
	</node>
	<node pkg="cob_sick_s300" type="cob_scan_filter" name="laser_$(arg scanner)_filter" ns="laser_$(arg scanner)" respawn="false" output="screen" >
		<remap from="scan" to="scan_unfiltered"/>
		<remap from="scan_filtered" to="scan"/>
		<!--rosparam command="load" file="$(find neo_bringup)/config/sick_$(arg scanner).yaml"/-->
	</node>

</launch>
