<launch>
	<node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen">
		<!-- <remap from="/scan" to="/laser_unified/scan"/> -->

		<!-- Initial map size in meters-->
		<param name="xmin" value="-5.0" />
		<param name="xmax" value="5.0" />
		<param name="ymin" value="-5.0" />
		<param name="ymax" value="5.0" />

		<!-- Resolution cm/px -->
		<param name="delta" value="0.05"/>

        <!-- when to put a scan into the map -->
        <param name="linearUpdate" value="0.25"/> <!-- Process scan each time robot moves this far, default: 1.0 -->
        <param name="angularUpdate" value="0.1"/>
        <param name="temporalUpdate" value="1.0"/>

		<!-- How long in seconds between updates to the map -->
		<param name="map_update_interval" value="1.0"/>

		<!-- Maximum usable range of the laser. A beam is cropped to this value. Default: 80.0 -->
		<param name="maxUrange" value="20.0"/>

	</node>
</launch>
