<?xml version="1.0"?>
<launch>
   
  <!-- Run Neobotix robot -->
  <include file="$(find neo_bringup)/launch/bringup_mp_655_remote.launch">
  </include>

  <!--remap from="/scan" to="/scan_front/scan" topic/-->
  <!-- Note that these topics aren't used currently -->
  <remap from="/scan" to="/laser_unified/scan" />

  <!--- Run AMCL and Map server -->
  <include file="$(find neo_2dnav)/launch/amcl_diff.launch" />

  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- Set local planner -->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>

    <!-- Set global planner -->
    <!-- Navfn is the default global planner of the ROS Navigation Stack, but can be included -->
    <param name="base_global_planner" value="navfn/NavfnROS"/>

    <!-- Set controller frequency (local planner) -->
    <!-- The rate in Hz at which to run the control loop and send velocity commands to the base.
         10 Hz seems suitable for the TEB local planner, maybe lower.
         20+ seems better for DWA/TR. Default: 20 -->
    <param name="controller_frequency" value="10.0"/>

    <!-- Set planner frequency (global planner) -->
    <!-- The rate in Hz at which to run the global planning loop.
         If the frequency is set to 0.0, the global planner will
         only run when a new goal is received or the local planner
         reports that its path is blocked. Default: 0.0 -->
    <param name="planner_frequency" value="1.0"/>

    <!-- Load costmap configurations -->
    <!-- Common parameters -->
    <rosparam file="$(find neo_2dnav)/config/costmap_common.yaml" command="load" ns="local_costmap" />  <!-- Local -->
    <rosparam file="$(find neo_2dnav)/config/costmap_common.yaml" command="load" ns="global_costmap" /> <!-- Global -->
    <!-- Local and global costmap parameters -->
    <rosparam file="$(find neo_2dnav)/config/costmap_local.yaml" command="load"/>
    <rosparam file="$(find neo_2dnav)/config/costmap_global.yaml" command="load" />

    <!-- Load local planner configuration -->
    <rosparam file="$(find neo_2dnav)/config/planner_local_teb.yaml" command="load" />
  </node>


  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neo_2dnav)/rviz/neo_navigation.rviz"/>
</launch>
