<launch>
	
	<!-- THIS WILL NOT RUN WITHOUT A MAP ! $(find neo_bringup)/maps -->
  	<!-- REPLACE THIS LINE WITH PATH TO MAP, ONCE IT IS MADE USING nav2dslam.launch -->
	<arg name="map_name" default="map_melEmpty.yaml" />
  	<arg name="env_map" default="$(find neo_bringup)/maps/$(arg map_name)" /> 

  	<!-- Load map -->
  	<node name="map_server" pkg="map_server" type="map_server" args="$(arg env_map)"/>

  	<node pkg="amcl" type="amcl" name="amcl" output="screen">
	
		<param name="odom_model_type" value="diff"/>
		<param name="odom_frame_id" value="odom"/>

		<!-- Publish scans from best pose at a max of 10 Hz -->
		<param name="transform_tolerance" value="0.1" />
		<param name="gui_publish_rate" value="0.2"/>
		<param name="min_particles" value="500"/>
		<param name="max_particles" value="2000"/>
		<param name="kld_err" value="0.13"/>
		<param name="kld_z" value="0.98"/>
		<param name="update_min_d" value="0.02"/>
		<param name="update_min_a" value="0.05"/>
		<param name="resample_interval" value="1"/>
		<param name="transform_tolerance" value="0.55"/>
		<param name="recovery_alpha_slow" value="0.0"/>
		<param name="recovery_alpha_fast" value="0.0"/>
		<!-- Odometry model parameters -->
		<param name="odom_alpha1" value="10"/>
		<param name="odom_alpha2" value="10"/>
		<!-- Translation std dev, m -->
		<param name="odom_alpha3" value="2"/>
		<param name="odom_alpha4" value="2"/>
		<param name="odom_alpha5" value="0"/>
		<!-- Laser model parameters -->
		<param name="laser_z_hit" value="0.5"/>
		<param name="laser_z_short" value="0.05"/>
		<param name="laser_z_max" value="0.05"/>
		<param name="laser_z_rand" value="0.5"/>
		<param name="laser_sigma_hit" value="0.2"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_model_type" value="likelihood_field"/>
		<!-- <param name="laser_model_type" value="beam"/> -->
		<param name="laser_likelihood_max_dist" value="2.0"/>
		<param name="laser_max_beams" value="30"/>
  </node>
</launch>
