<?xml version="1.0"?>
<launch>
 
  <!-- Neobotix -->
  <include file="$(find neo_bringup)/launch/bringup_mp_655_remote.launch">
  </include>


  <!-- Specify SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <remap from="/scan" to="/laser_unified/scan"/>
  <include file="$(find neo_2dnav)/launch/neo_gmapping.launch">
    <!-- <arg name="model" value="$(arg model)"/> -->
    <!-- <arg name="configuration_basename" value="$(arg configuration_basename)"/> -->
  </include>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find neo_2dnav)/rviz/neo_gmapping.rviz"/>

</launch>
