<launch>
  <!-- Select platform configuration i.e. where the laser scanners are placed -->
  <arg name="platform_configuration" default="neo-cph" doc="platform configuration type [neo-aal, neo-cph]"/>
  <arg name="x_pos" default="1.0"/>
  <arg name="y_pos" default="-6.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="yaw" default="1.57079633"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find neo_simulations)/worlds/staticHumans.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="xacro '$(find neo_description)/robots/neobotix_base.urdf.xacro' platform_configuration:=$(arg platform_configuration)"/>

  <node name="neobotix_spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model neobotix_base -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) -param robot_description" />

  <!--To publish Joint and Robot state-->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="rate" value="20.0"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" value="20.0"/>
  </node> -->

</launch>
