local_costmap:
  global_frame: /map 
  robot_base_frame: /base_link
  update_frequency: 1.0
  publish_frequency: 1.0
  static_map: true 
  rolling_window: false 
  width: 8.0
  height: 8.0
  resolution: 0.05
  transform_tolerance: 1.5
  #inflation_layer/inflation_radius: 0.3
  #inflation_layer/cost_scaling_factor: 2.5
  plugins:
     - {name: static_map,       type: "costmap_2d::StaticLayer"}
     - {name: obstacles,        type: "costmap_2d::VoxelLayer"}
     - {name: inflation_layer,  type: "costmap_2d::InflationLayer"}
     - {name: social_layer,     type: "social_navigation_layers::ProxemicLayer"}