<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="name" default="laser_unified" />
  <!-- <arg name="scan_1" default="/laser_front/scan" /> -->
  <!-- <arg name="scan_2" default="/laser_back/scan" /> -->

  <!-- Start nodes -->
  <!-- If rosparam is put inside the node, it will become private and adopt a namespace with the node "name" first.
       In this case the param "/input_scans" from the yaml-file, becomes "/laser_unified/input_scans"-->
  <rosparam command="load" file="$(find neo_bringup)/config/unify_scans.yaml"/>
  <node pkg="cob_scan_unifier" type="scan_unifier_node" name="$(arg name)" respawn="false" output="screen">
    <remap from="scan_unified" to="/$(arg name)/scan"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="scan_combined_broadcaster" args="0 0 0 0 0 0 /base_link /scan_combined 10" />
</launch>
