robot_base_frame: base_link
transform_tolerance: 0.4
update_frequency: 5.0
publish_frequency: 1.0

obstacle_range: 2.5
raytrace_range: 4.0



obstacles:
  observation_sources: b_scan_marking b_scan_clearing f_scan_marking f_scan_clearing
  b_scan_marking:
    topic: b_scan_rep117
    data_type: LaserScan
    clearing: false
    marking: true
    inf_is_valid: false
    min_obstacle_height: 0
    max_obstacle_height: 0.25
  b_scan_clearing:
    topic: b_scan_rep117
    data_type: LaserScan
    clearing: true
    marking: false
    inf_is_valid: false
    min_obstacle_height: 0
    max_obstacle_height: 0.25
  f_scan_marking:
    topic: f_scan_rep117
    data_type: LaserScan
    clearing: false
    marking: true
    inf_is_valid: false
    min_obstacle_height: 0
    max_obstacle_height: 0.25
  f_scan_clearing:
    topic: f_scan_rep117
    data_type: LaserScan
    clearing: true
    marking: false
    inf_is_valid: false
    min_obstacle_height: 0
    max_obstacle_height: 0.25
